{% load i18n compress static %}{% spaceless %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" itemscope itemtype="http://schema.org/WebPage">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
        <title></title>

        {% compress css %}
            {% block compressed_css %}
                <link rel="stylesheet" media="all" type="text/css" href="{% static "css/normalize.css" %}">
                <link rel="stylesheet" media="all" type="text/x-scss" href="{% static "scss/app.scss" %}">
            {% endblock %}
        {% endcompress %}
    </head>
    <body>
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
        <script type="text/javascript">window.jQuery || document.write('<script src="{% static "js/jquery.min.js" %}"><\/script>')</script>

        {% compress js %}
            {% block compressed_js %}
                <script type="text/javascript" src="{% static "js/app.js" %}"></script>
            {% endblock %}
        {% endcompress %}
    </body>
</html>
{% endspaceless %}